# Flask Configuration
FLASK_ENV=development
BASE_URL=http://localhost:5000
SECRET_KEY=

# Frontend
FRONTEND_URL=http://localhost:5173

# JWT Configuration
JWT_SECRET_KEY=

JWT_TOKEN_LOCATION=["cookies"]
JWT_COOKIE_SECURE=False
JWT_COOKIE_HTTPONLY=True
JWT_COOKIE_SAMESITE=Lax
JWT_COOKIE_CSRF_PROTECT=True

JWT_ACCESS_TOKEN_EXPIRES_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRES_DAYS=7

# Database
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=monitoring_db


# Mail Configuration
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=


# Default Accounts for seeder
ADMIN_EMAIL=
ADMIN_PASSWORD=

KEPSEK_EMAIL=
KEPSEK_PASSWORD=

GURU1_EMAIL=
GURU1_PASSWORD=

GURU2_EMAIL=
GURU2_PASSWORD=

GURU3_EMAIL=
GURU3_PASSWORD=

GURU4_EMAIL=
GURU4_PASSWORD=

GURU5_EMAIL=
GURU5_PASSWORD=

GURU6_EMAIL=
GURU6_PASSWORD=

GURU7_EMAIL=
GURU7_PASSWORD=

GURU8_EMAIL=
GURU8_PASSWORD=