__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.env/

instance/
.webassets-cache

.env
.env.*

logs/
*.log

*.sqlite3

migrations/__pycache__/

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

.coverage
htmlcov/

node_modules/
dist/